<app-navbar></app-navbar>
<div class="fondo">
    <h1>Proyectos</h1>
<div style="display: flex; flex: 100; padding-top: 3%;">
    <div style="width: 30%; margin-left: 2%;">
        <form autocomplete="off" (ngSubmit)="altaProyecto(forma)" #forma="ngForm">
            <div class="form-group row mb-2" >
                
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="inputEmail3" [(ngModel)]="proyecto.strNombreProyecto"
                        name="strNombreProyecto" #strNombreProyecto="ngModel" placeholder="Nombre" required>
                <label for="inputEmail3" style="margin-left: 2%;">Nombre</label>       
                </div>
            </div>
            <div class="form-floating mb-2" >
                <select class="form-select" id="Status" [(ngModel)]="proyecto.strStatus"
                name="strStatus" #strStatus="ngModel">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Finalizada">Finalizada</option>
                    <option value="Rechazado">Rechazado</option>
                  </select>
                  <label for="inputStatus">Status</label>
            </div>
           
            <div class="form-group row mb-2">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="inputEmail3" [(ngModel)]="proyecto.strDescripcion"
                    name="strDescripcion" #strDescripcion="ngModel" placeholder="Descripción" required>
                <label for="inputEmail3" style="margin-left: 2%;">Descripción</label>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="form-floating mb-2">
                    <input type="date" class="form-control" id="dteFechaInicio" [(ngModel)]="proyecto.dteFechaInicio"
                    name="dteFechaInicio" #dteFechaInicio="ngModel">
                    <label for="inputFechaI">Fecha de inicio</label>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="form-floating mb-2">
                    <input type="date" class="form-control" id="dteFechaEntrega" [(ngModel)]="proyecto.dteFechaEntrega"
                    name="dteFechaEntrega" #dteFechaEntrega="ngModel">
                    <label for="inputFechaE">Fecha de entrega</label>
                </div>
            </div>
            
            <div class="form-group row mb-2">
                <div class="d-grid gap-2" style="padding-top: 2%;">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    <div style="margin-left: 5%;" class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Status</th>
                    <th scope="col">Descripción </th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proyecto of sproyectos.proyectos">
                    <td>{{proyecto.strNombreProyecto}}</td>
                    <td>{{proyecto.strStatus}}</td>
                    <td>{{proyecto.strDescripcion}}</td>
                    <td>{{proyecto.dteFechaInicio}}</td>
                    <td>{{proyecto.dteFechaEntrega}}</td>
                    <td><button type="submit" class="btn btn-warning" (click)="seleccionar(proyecto)">Editar</button></td>
                    <td> <button type="submit" class="btn btn-danger" (click)="deleteProyecto(proyecto._id)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>