<app-navbar></app-navbar>
<div style="display: flex; flex: 100; padding-top: 5%;">
    <div style="width: 30%; margin-left: 2%;">
        <form autocomplete="off" (ngSubmit)="altaProyecto(forma)" #forma="ngForm">
            <div class="form-group row mb-2" >
                <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" [(ngModel)]="proyecto.strNombreProyecto"
                        name="strNombreProyecto" #strNombreProyecto="ngModel">
                </div>
            </div>
            <div class="form-group col mb-2" >
                <label for="inputStatus" class="col-sm-2 col-form-label">Status</label>
                <select class="custom-select col-sm-10" id="Status" [(ngModel)]="proyecto.strStatus"
                name="strStatus" #strStatus="ngModel">
                    <option selected>Seleccione Status</option>
                    <option value="En progreso">En progreso</option>
                    <option value="Terminado">Terminado</option>
                    <option value="Rechazado">Rechazado</option>
                  </select>
            </div>
           
            <div class="form-group row mb-2">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Descrición</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" [(ngModel)]="proyecto.strDescripcion"
                    name="strDescripcion" #strDescripcion="ngModel">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="inputFechaI" class="col-sm-2 col-form-label">Fecha de inicio</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="dteFechaInicio" [(ngModel)]="proyecto.dteFechaInicio"
                    name="dteFechaInicio" #dteFechaInicio="ngModel">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="inputFechaE" class="col-sm-2 col-form-label">Fecha de entrega</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="dteFechaEntrega" [(ngModel)]="proyecto.dteFechaEntrega"
                    name="dteFechaEntrega" #dteFechaEntrega="ngModel">
                </div>
            </div>
            
            <div class="form-group row mb-2">
                <div class="col-sm-10" style="padding-top: 2%;">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    <div style="margin-left: 5%;" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Status</th>
                    <th scope="col">Descripción </th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proyecto of proyectos">
                    <td>{{proyecto.strNombreProyecto}}</td>
                    <td>{{proyecto.strStatus}}</td>
                    <td>{{proyecto.strDescripcion}}</td>
                    <td>{{proyecto.dteFechaInicio}}</td>
                    <td>{{proyecto.dteFechaEntrega}}</td>
                    <td><button type="submit" class="btn btn-warning" (click)="seleccionar(proyecto)">Editar</button></td>
                    <td> <button type="submit" class="btn btn-danger" (click)="deleteProyecto(proyecto._id)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>