<app-navbar></app-navbar>
<div class="fondo">
<div style="display: flex; flex: 100; padding-top: 5%" class="table-responsive">
  <div style="width: 30%; margin-left: 25px; margin-left: 45px">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre del proyecto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of sproyectos.proyectos">
          <td style="text-align: center">{{proyecto.strNombreProyecto}}</td>
          <td class="col text-center">
            <button type="submit" class="btn btn-secondary" (click)="goProyectos()">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-left: 60px; width: 60%" class="table-responsive">
    <h3>Tareas en progreso</h3>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Status</th>
          <th scope="col">Descripción </th>
          <th scope="col">Fecha de entrega</th>
          <th scope="col">Encargado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareasEnProgreso">
          <td>{{tarea.strNombre}}</td>
          <td>{{tarea.strStatus}}</td>
          <td>{{tarea.strDescripcion}}</td>
          <td>{{tarea.dteFechaEntrega}}</td>
          <td>
            <div *ngFor="let usuario of tarea.arrAdministrador">
                {{usuario.idUsuario.strNombre}}
            </div>
        </td>
        </tr>
      </tbody>
    </table>
    <h3>Tareas finalizadas</h3>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Status</th>
          <th scope="col">Descripción </th>
          <th scope="col">Fecha de entrega</th>
          <th scope="col">Encargado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareasFinalizadas">
          <td>{{tarea.strNombre}}</td>
          <td>{{tarea.strStatus}}</td>
          <td>{{tarea.strDescripcion}}</td>
          <td>{{tarea.dteFechaEntrega}}</td>
          <td>
            <div *ngFor="let usuario of tarea.arrAdministrador">
                {{usuario.idUsuario.strNombre}}
            </div>
        </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
</div>