<app-navbar></app-navbar>
<div style="display: flex; flex: 100; padding-top: 5%" class="table-responsive">
  <div style="width: 30%; margin-left: 25px; margin-left: 45px">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre del proyecto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center">Tareas</td>
          <td class="col text-center">
            <button type="submit" class="btn btn-info">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-left: 60px; width: 60%" class="table-responsive">
    <h3>Tareas en progreso</h3>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre de la tarea</th>
          <th scope="col">Status</th>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha de entrega</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nombre de la tarea</td>
          <td>En progreso</td>
          <td>Primer avance de proyecto</td>
          <td>02-diciembre-2021</td>
          <td>Desarrollador</td>
        </tr>
        <tr>
            <td>Nombre de la tarea</td>
            <td>En progreso</td>
            <td>Primer avance de proyecto</td>
            <td>02-diciembre-2021</td>
            <td>Desarrollador</td>
          </tr>
      </tbody>
    </table>
    <h3>Tareas finalizadas</h3>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre de la tarea</th>
          <th scope="col">Status</th>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha de entrega</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nombre de la tarea</td>
          <td>Finalizada</td>
          <td>Mockups</td>
          <td>20-noviembre-2021</td>
          <td>Desarrollador</td>
        </tr>
        <tr>
          <td>Nombre de la tarea</td>
          <td>Finalizada</td>
          <td>Mockups</td>
          <td>20-noviembre-2021</td>
          <td>Desarrollador</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
